<%- include("header") %> 
<h1 id="heading">About Us</h1>
<p>we are a company focused on disruptive trends and free snack bars at work. we pay start up salaries even tho we are not a startup :)</p>
<%- include("footer") %> 